fastapi
uvicorn[standard]
motor
pymongo
pydantic-settings
python-dotenv
email-validator
passlib[bcrypt]
PyJWT
python-multipart
PyMuPDF
pdfplumber
pdf2image
pytesseract
numpy
langchain
langchain-community
langchain-huggingface
sentence-transformers
chromadb
